

/* ==================== HOMEPAGE ==================== */

// .homepage-banner{
//     top: 0;
//     right: 0;
//     max-width: 540px;
// }

.meet-the-founder{
    &__image{
        max-width: 480px;
        max-height: 437px;
    }
}


.shop-now-container{
    // bottom: 14vh;
    // right: 15vw;
    bottom: 0;
    right: 0;
}

.shop-now-btn{
    display: block;
    height: 10vh;
    width: 35vw;
}

@media (min-width:992px) {
    .shop-now-btn{
        display: block;
        height: 25vh;
        width: 30vw;
    }
    
}

/* ==================== CONTACT ==================== */
