.dropbtn {
    color: $white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
  }
  
  .dropdown-content a {
    display: block;
  }
    
  .dropdown:hover .dropdown-content {display: block;}
  
.header{


    &__flex{
        flex-direction: column;
    }

    &__logo img{
        width: 150px;
        display: block;
        margin: 0 auto;
    }

    &__icons img{
        width: 30px;    
        &:hover{
            cursor: pointer;
        }
    }

    &__icons-small img{
        width: 20px;    
        &:hover{
            cursor: pointer;
        }
    }


    &__mobile-menu{
        width: 40px;
        &:hover{
            cursor: pointer;
        }
    }

    &__phone{
        position: absolute;
        margin-top: -82px;
    }

    &__nav-links ul li{
        list-style: none;
    }

    &__dropdown:hover &__nav-sub-content{
        display: block;
    }

    // &__nav-sub-menu-btn:hover &__nav-sub-content{
    //     display: block;
    // }



    @media (min-width: 576px) {
        &__logo img{
            width: 160px;
        }
    

    }
    
    @media (min-width: 768px) {
    
    }
    
    @media (min-width: 992px) {
        &__flex{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    

        &__logo img{
            width: 120px;
            margin: 0 0;
        }

        &__center{
            width: 20px;
            margin: 0 auto;
        }
    
    }
    
    @media (min-width: 1200px) {
        &__logo img{
            width: 120px;
            margin: 0 0;
        }
    
    }
    
    @media (min-width: 1400px) {

    }
    
    
}